header
  h1 COCKTAIL
section.image-content
  p#preview
section.button-content
  form(action='/', method='post', enctype='multipart/form-data')
    .upload
      label
        input(type='file', name='images[]', multiple='multiple', accept='image/*')
        img.button(src='img/button1.png', alt='')
        input.button(type='submit', src='img/button2.png', alt='送信する', value='送信する')
footer © FACESAKE All Rights Reserved at JPHacks2017 in Kobe