<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Emotional Cocktail</title>
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/stylesheet2.css">
  <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
  <script type="text/javascript" src="/javascript/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/javascript/jquery.uploadThumbs.js"></script>
  <script>
  $(function() {
    // jQuery Upload Thumbs 
    $('form input:file').uploadThumbs({
        position  : '#preview',    // any: arbitrarily jquery selector
        alternate : '.alt'         // selecter for alternate view input file names
    });
  });
</script>
</head>
<body>
<header>
    <h1>Emotional Cocktail</h1>
</header>
   <section class="image-content">
       <p id="preview"></p>
  </section>
  <section class="button-content">
      <form action="/" method="post" enctype="multipart/form-data">
        <div class="upload">
            <label>
                <input type="file" name="upload" multiple="multiple" accept="image/*" style="display:none"/>
                <img src="/img/camera.png" class="button" alt="" />
                <input type="image" src="/img/photo-share.png" class="button"  value="送信する">
            </label>
        </div>
      </form>
  </section>
   <footer>&copy; FACESAKE All Rights Reserved at JPHacks2017 in Kobe</footer>
</body>
</html>
